<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="a311.college.mapper.major.MajorMapper">
    <select id="pageQueryMajors" resultType="a311.college.entity.major.Major">
        select m.major_id, m.major_name, m.major_code, m.major_year, m.degrees, m.gender, m.avg_salary
        from academic_level as al
                 join subject_category as sc on al.id = sc.academic_level_id
                 join professional_class as pc on sc.id = pc.subject_category_id
                 join major as m on pc.id = m.class_id
        <where>
            <if test="levelId != null">
                and al.id = #{levelId}
            </if>
            <if test="categoryId != null">
                and sc.id = #{categoryId}
            </if>
            <if test="professionalId != null">
                and pc.id = #{professionalId}
            </if>
        </where>
    </select>

    <select id="searchMajorByName" resultType="a311.college.entity.major.Major">
        select
            m.major_id,
            m.major_name,
            m.major_year,
            m.degrees,
            m.gender,
            m.avg_salary
        from major as m
        where m.major_name like concat('%', #{majorName}, '%')
    </select>

    <select id="searchMajor" resultType="a311.college.vo.major.BriefMajorVO">
        select
            m.major_name,
            m.gender,
            m.avg_salary
            from major as m
        <where>
            <if test="message != null and message != ''">
                m.major_name like concat('%', #{message}, '%')
            </if>
        </where>
        limit 5
    </select>
</mapper>