<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="a311.college.mapper.major.MajorMapper">
    <select id="pageQueryMajors" resultType="a311.college.entity.major.Major">
        select m.major_id, m.major_name, m.major_code, m.major_year, m.degrees, m.gender, m.avg_salary
        from tb_academic_level as al
                 join tb_subject_category as sc on al.academic_level_id = sc.academic_level_id
                 join tb_professional_class as pc on sc.subject_category_id = pc.subject_category_id
                 join tb_major as m on pc.professional_class_id = m.professional_class_id
        <where>
            <if test="academicLevelId != null">
                and al.academic_level_id = #{academicLevelId}
            </if>
            <if test="subjectCategoryId != null">
                and sc.subject_category_id = #{subjectCategoryId}
            </if>
            <if test="professionalClassId != null">
                and pc.professional_class_id = #{professionalClassId}
            </if>
        </where>
    </select>

    <select id="searchMajorByName" resultType="a311.college.entity.major.Major">
        select
            m.major_id,
            m.major_name,
            m.major_code,
            m.major_year,
            m.degrees,
            m.gender,
            m.avg_salary
        from tb_major as m
        where m.major_name like concat('%', #{majorName}, '%')
    </select>

    <select id="searchMajor" resultType="a311.college.entity.major.Major">
        select
            m.major_id,
            m.major_name,
            m.gender,
            m.avg_salary
            from tb_major as m
        <where>
            <if test="message != null and message != ''">
                m.major_name like concat('%', #{message}, '%')
            </if>
        </where>
        limit 5
    </select>
</mapper>