<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="a311.college.mapper.user.UserMapper">
    <update id="update">
        update tb_user
        <set>
            <if test="username != null and username !=''">
                username = #{username},
            </if>
            <if test="head != null">
                head = #{head},
            </if>
            <if test="year != null">
                year = #{year},
            </if>
            <if test="province != null">
                province = #{province},
            </if>
            <if test="subjects != null">
                subjects = #{subjects},
            </if>
            <if test="grade != null">
                grade = #{grade},
            </if>
            <if test="ranking != null">
                ranking = #{ranking},
            </if>
        </set>
        where id = #{id}
    </update>

    <select id="selectVolunteerSchool" resultType="a311.college.entity.school.School">
        select s.school_id, s.school_name, s.school_province
        from tb_school as s
                 JOIN tb_province as p ON s.school_id = p.school_id
                 JOIN tb_year as y ON p.province_id = y.province_id
                 JOIN tb_category as c ON y.year_id = c.year_id
                 JOIN tb_batch as b ON c.category_id = b.category_id
                 JOIN tb_score as sc ON b.batch_id = sc.batch_id
        where sc.first_choice = #{firstChoice}
    </select>
</mapper>