<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="a311.college.mapper.college.CollegeMapper">

    <!-- 多表联查结果映射 -->
    <resultMap id="collegeScoreMap" type="a311.college.vo.CollegeVO">
        <result property="schoolHead" column="school_head"/>
        <result property="schoolName" column="school_name"/>
        <result property="schoolProvince" column="province_name"/>
        <result property="schoolAddress" column="school_address"/>
        <result property="rankList" column="rank_list"/>
        <result property="year" column="year"/>
        <result property="category" column="category_name"/>
        <result property="batch" column="batch_name"/>
        <result property="major" column="major_name"/>
        <result property="minScore" column="min_score"/>
        <result property="minRanking" column="min_ranking"/>
    </resultMap>

    <select id="pageQuery" resultType="a311.college.vo.CollegeSimpleVO">
        select
        school_id,
        school_head,
        school_name,
        school_address,
        rank_list
        from tb_school
        <where>
            <if test="schoolName != null and schoolName != ''">
                AND school_name LIKE CONCAT('%', #{schoolName}, '%')
            </if>
            <if test="province != null and province != ''">
                AND school_province = #{province}
            </if>
            <if test="rankList != null">
                <foreach collection="rankList" item="item" separator="AND">
                    rank_list LIKE CONCAT('%', #{item}, '%')
                </foreach>
            </if>
        </where>
        order by length(rank_list) desc
    </select>


    <select id="selectScoreByYear" resultType="a311.college.vo.YearScoreVO">
        select
            y.year,
            b.batch_name,
            sc.min_score,
            sc.min_ranking,
            sc.major_name
        from tb_school as s
                 JOIN tb_province as p ON s.school_id = p.school_id
                 JOIN tb_year as y ON p.province_id = y.province_id
                 JOIN tb_category as c ON y.year_id = c.year_id
                 JOIN tb_batch as b ON c.category_id = b.category_id
                 JOIN tb_score as sc ON b.batch_id = sc.batch_id
        where s.school_id = #{id} and p.province_name = #{province} and y.year = #{year}
        order by sc.min_score LIMIT 5
    </select>

    <!-- 分页联查语句 -->
    <!--    <select id="pageQuery" resultMap="collegeScoreMap">-->
    <!--        SELECT-->
    <!--        s.school_head,-->
    <!--        s.school_name,-->
    <!--        s.school_province,-->
    <!--        s.school_address,-->
    <!--        s.rank_list,-->
    <!--        p.province_name,-->
    <!--        y.year,-->
    <!--        c.category_name,-->
    <!--        b.batch_name,-->
    <!--        sc.major_name,-->
    <!--        sc.min_score,-->
    <!--        sc.min_ranking-->
    <!--        FROM tb_school as s-->
    <!--            JOIN tb_province as p ON s.school_id = p.school_id-->
    <!--            JOIN tb_year as y ON p.province_id = y.province_id-->
    <!--            JOIN tb_category as c ON y.year_id = c.year_id-->
    <!--            JOIN tb_batch as b ON c.category_id = b.category_id-->
    <!--            JOIN tb_score as sc ON b.batch_id = sc.batch_id-->
    <!--        <where>-->
    <!--            <if test="schoolName != null and schoolName != ''">-->
    <!--                AND s.school_name LIKE CONCAT('%', #{schoolName}, '%')-->
    <!--            </if>-->
    <!--            <if test="province != null and province != ''">-->
    <!--                AND p.province_name = #{province}-->
    <!--            </if>-->
    <!--            <if test="year != null">-->
    <!--                AND y.year = #{year}-->
    <!--            </if>-->
    <!--            <if test="batch != null">-->
    <!--                AND b.batch_name = #{batch}-->
    <!--            </if>-->
    <!--            <if test="grade != null">-->
    <!--                AND sc.min_score &lt; #{grade}-->
    <!--            </if>-->
    <!--        </where>-->
    <!--        ORDER BY min_score desc, min_ranking desc-->
    <!--    </select>-->

    <select id="selectByGrade" resultType="a311.college.vo.CollegeSimpleVO">
        SELECT s.school_head,
               s.school_name,
               s.school_address,
               s.rank_list
        FROM tb_school as s
                 JOIN tb_province as p ON s.school_id = p.school_id
                 JOIN tb_year as y ON p.province_id = y.province_id
                 JOIN tb_category as c ON y.year_id = c.year_id
                 JOIN tb_batch as b ON c.category_id = b.category_id
                 JOIN tb_score as sc ON b.batch_id = sc.batch_id
        WHERE sc.min_score &lt; #{grade}
          and p.province_name = #{province}
        ORDER BY sc.min_score DESC
    </select>
</mapper>