<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="a311.college.mapper.college.CollegeMapper">

    <!-- 多表联查结果映射 -->
    <resultMap id="collegeScoreMap" type="a311.college.vo.CollegeVO">
        <result property="schoolHead" column="school_head"/>
        <result property="schoolName" column="school_name"/>
        <result property="province" column="province"/>
        <result property="address" column="address"/>
        <result property="rankList" column="rank_list"/>
        <result property="year" column="year"/>
        <result property="category" column="category_name"/>
        <result property="batch" column="batch"/>
        <result property="major" column="major"/>
        <result property="minScore" column="min_score"/>
        <result property="minRanking" column="min_ranking"/>
    </resultMap>

    <!-- 分页联查语句 -->
    <select id="pageQuery" resultMap="collegeScoreMap">
        SELECT
            s.school_head,
            s.school_name,
            p.province,
            s.address,
            s.rank_list,
            y.year,
            c.category AS category_name,
            b.batch,
            sc.major,
            sc.min_score,
            sc.min_ranking
        FROM tb_school as s
        JOIN tb_province as p ON s.school_id = p.school_id
        JOIN tb_year as y ON p.id = y.province_id
        JOIN tb_category as c ON y.id = c.year_id
        JOIN tb_batch as b ON c.id = b.category_id
        JOIN tb_score as sc ON b.id = sc.batch_id
        <where>
            <if test="schoolName != null and schoolName != ''">
                AND s.school_name LIKE CONCAT('%', #{schoolName}, '%')
            </if>
            <if test="province != null and province != ''">
                AND p.province = #{province}
            </if>
            <if test="year != null">
                AND y.year = #{year}
            </if>
            <if test="batch != null">
                AND b.batch = #{batch}
            </if>

        </where>
        ORDER BY min_score desc
    </select>
</mapper>